/* Garvit */

.mainContainer{
    border: 1px solid white;
    background-color: #232323;
    width: 50%;
    margin: 2% auto;
    position: relative;
}

.mainContainer_titleContainer{
    font-size: 1.5rem;
    border: 1px solid white;
    margin: 2% auto;
    width: 50%;
    text-align: center;
}

.mainContainer_imgContainer{
    border: 1px solid white;
    margin: 2%;
}

.mainContainer_imgContainer img{
    width: 50%;
    height: 50%;
}

.mainContainer_formContainer{
    border: 1px solid white;
}